/*
COLOR PALETTE
--rich black: #114b5f;
--dark gray-almost black: #343434;
--persian-green: #1B998B;
--icterine: #FFFF82;
--beige: #F5F7DC;
--indian red: #E65F5C;
--almost white: #F7FFF7;
--Almost grey: #eee;
*/

/* Global styles
------------------------------------*/

body {
    background-color: #eee;
    border: 3px solid #114b5f;
    font-family: Verdana, Serif, Arial, Helvetica;
    font-weight: 100;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: 300px;
}

a {
    color: #F7FFF7;
    text-decoration: none;
}

article {
    background-color: #F7FFF7;
    color: #114b5f;
    padding: 10px 10px;
}


h3 {
    margin: 5px;
}

p {
    font-family: Verdana, Serif, Arial, Helvetica;
    font-size: 13px;
    margin: 10px;
}

ul {
    font-family: Verdana, Serif, Arial, Helvetica;
    font-size: 13px;
}

/* ---- Back to top ---- */

#back-to-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

#back-to-top > button{
    background-color: rgb(198, 156, 78);
    border-radius: 50%;
    border: solid 1px rgb(198, 156, 78);
    width: 50px;
    height: 50px;
}
#back-to-top:hover > button {
    border: solid 1px rgb(198, 156, 78);
    background-color: white;
    
}
#back-to-top > button {
    text-decoration: none;
    color: whitesmoke;
}
#back-to-top:hover > button {
    text-decoration: none;
    color: rgb(198, 156, 78);
}

/* Side Menu / nav
------------------------------------*/

#navbar {
    background-color: #114b5f;
    text-decoration: none;
    color: white;
    text-align: center;
    z-index: 1;

}

.nav-link {
    text-decoration: none;
    color:white;
    margin: 0 60px;
}

.nav-link:hover {
    color: rgb(219, 191, 63);
    text-decoration: none;
}
button:hover {
    background-color: rgb(219, 191, 63);
    text-decoration: none;
}

/* Profile
------------------------------------*/

.maleboPic {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #F7FFF7;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #1B998B;
    font-family: Verdana, Serif, Arial, Helvetica;
    font-size: 30px;
    color: #F7FFF7;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    color: #F7FFF7;
    font-size: 15px;
    padding-bottom: 10px;
    margin: 0;
}

/* Education
------------------------------------*/
#education {
    font-size: 20px;
    margin-top: 10px;
}

.education .btn {
    background: #1B998B;
    color: #F7FFF7;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.education .btn:hover {
    background: rgba(27, 153, 139, 50%);
    color: #114b5f;
}

/* Work Experience
------------------------------------*/
#experience {
    font-size: 20px;
}

/* Skills
------------------------------------*/
#skills {
    font-size: 20px;

}

/* Contact Info
------------------------------------*/
footer {
    background-color: #1B998B;
    color: #F7FFF7;
}

.form-container {
    background-color: #1B998B;
    margin: 0;
    padding: 30px;
    color: #343434;
}

.form-container #contacts {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    color: #F7FFF7;
    text-transform: uppercase;
}

.form-container .my-form {
    width: 100%;
}

.form-container .my-form .input-field-box {
    max-width: 100%;
    margin: 15px auto;
}

.form-container .my-form .input-field-box label {
    width: 200px;
    margin-right: 10px;
    font-size: 15px;
}

.form-container .my-form .input-field-box input {
    width: 100%;
    outline: none;
    border: solid 1px #F7FFF7;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.form-container .my-form .input-field-box textarea {
    resize: none;
    width: 100%;
    min-height: 100px;
    outline: none;
    border: solid 1px #F7FFF7;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.form-container .my-form .input-field-box .subject-select {
    position: relative;
    height: 37px;
    outline: none;
    border: solid 1px #F7FFF7;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease
}

#submit {
    background-color: #F7FFF7;
    border-radius: 5px;
    padding: 5px;
    color: #114b5f;
    cursor: pointer;
}

#social-links {
    background-color: #114b5f;
    margin: 0;
    padding: 10px 20px;
    clear: both;
}